@use 'variables';

#footer {
    background-color: variables.$accent-color;
    color: white;

    & img {
        width: 200px;
    }
}

.footer-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: 992px) {
        display: none;
    }
}

.footer-desktop {
    display: none;

    @media (min-width: 992px) {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
      }
}

.footer-left {

    & img {
        margin-bottom: -80px;
        margin-top: -50px;
    }

    & p {
        margin-top: 20px;
    }
}

.footer-info {
    margin-top: 15px;

    @media (min-width: 992px) {
        margin-top: 0px;
    }
} 




.footer-me {

    @media (min-width:992px) {
        margin-top: 60px;
        margin-bottom: -60px;
    }
}

.footer-links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width:992px) {
        margin-top: 0px;
    }
}

.fa-facebook {
    font-size: 2em;

    @media (min-width:992px) {
        margin-top: 20px;
    }
}