@use 'variables';

//Banner

    .banner-hash {
        color: variables.$red-color;
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
        margin-top: 280px !important;

        @media (min-width:482px) {
            margin-top: 250px !important;
        }

        @media (min-width:530px) {
            margin-top: 200px !important;
        }

        @media (min-width:992px) {
            margin-top: 150px !important;
        }
    }

    .banner {
        position: absolute; /* or 'absolute' or 'relative' depending on your layout */
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -10;
        overflow: hidden;
    }

    .banner video {
        min-width: 100%;
        height: 70%;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        opacity: 90%;
    }

    .banner-text {
        position: relative;
        z-index: 1; /* Ensures content is above the video */
        /* Add other styling for text visibility, like color and padding */
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 22%;
        margin-bottom: 50px;

        @media (min-width:582px) {
            margin-top: 8%;
            margin-bottom: 0px;
        }

        & > * {
            margin: 10px;
        }
        
        & h1 {
            font-size: 40px;

            @media(min-width:481px) {
                font-size: 50px;
            }

            @media (min-width: 582px) {
                font-size: 70px;
            }
        }

    }

//Paragaph

    .home-paragraph {
        text-align: center;
        
        & p {
            font-size: 18px;
            max-width: 1000px;
            display: flex;
            margin: 0 auto;
        }

        & h2 {
            font-size: 40px;
        }
        
        & h3 {
            font-size: 30px;
            margin-top: 40px;
        }

        & hr {
            max-width: 1100px;
            display: flex;
            margin: 0 auto;
            border: none;
            height: 2px;
            background-color: black;
            opacity: 40%;
            margin-bottom: 20px;
        }
    }

//Projects
.home-projects {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        gap: 100px;
    }

    & h2 {
        font-size: 40px;
    }
}

//News
.home-news {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
   
    &-container {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        margin-top: 30px;
    }

    & h2 {
        font-size: 40px;
    }
}